<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My Site</title>
        <meta name="description" content="">
        <meta name="author" content="Ceasar Bautista">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/print.css') }}" type="text/css" media="screen">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/ie.css') }}" type="text/css" media="screen">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/screen.css') }}" type="text/css" media="screen">
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
