{% extends "_base.html" %}
{% block body %}
<div class="container">
    <div id="header">
    </div>
    <div id="categories">
    </div>
    <h1>Pins</h1>
    <div id="wrapper">
        <div id="pins">
            {% for pin in pins %}
            <div class="pin">
                <span class="title">{{ pin.title }}</span>
                <img src="{{ url_for('static', filename="img/" + pin.filename) }}"/>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
